<h2 class="screen-align">Update</h2>
<div id="template-ixcw" class="gjs-row">
    <div id="template-i23k" class="gjs-cell">
        <label id="template-ipbn" class="label ">
            <div id="template-i6uza" class="">Name</div>
        </label>
        <input id="template-i7emo" [(ngModel)]="addresslocation.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-i45l" class="gjs-cell">
        <label id="template-i4k98" class="label ">
            <div id="template-i1kvh" class="">countrycode</div>
        </label>
        <input id="template-i4mq5" [(ngModel)]="addresslocation.countrycode" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-i5hz" class="gjs-cell">
        <label id="template-i0x6x" class="label ">
            <div id="template-i3vjj" class="">geonameid</div>
        </label>
        <input id="template-iida9" [(ngModel)]="addresslocation.geonameid" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>
<div id="template-i7u2" class="gjs-row">
    <div id="template-izxe" class="gjs-cell">
        <label id="template-ibq1f" class="label ">
            <div id="template-iaw5i" class="">lattitude</div>
        </label>
        <input id="template-i0n5n" [(ngModel)]="addresslocation.latitude" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <button id="template-ib8wa" (click)="GpUpdate()" class="button btn btn-primary ">
            <div id="template-ihvid" class="">Send</div>
        </button>
    </div>
    <div id="template-i9gh" class="gjs-cell">
        <label id="template-i6rbx" class="label ">
            <div id="template-i9knf" class="">longtitude</div>
        </label>
        <input id="template-iq4s9" [(ngModel)]="addresslocation.longtitude" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-igs4" class="gjs-cell"></div>
</div>